<a href="https://colab.research.google.com/github/restrepo/data-analysis/blob/master/Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Pandas

## Basic structure: DataFrame

An flat _spreadsheet_ can be seen in terms of the types of variables of `Python` just as dictionary of lists, where each column of the spreadsheet is a pair key-list of the dictionary 

|   |  A   |  B   |
|---|:----:|:----:|
| 1 | even | odd  |
| 2 |   0  | 1    |
| 3 |   2  | 3    |
| 4 |   4  | 5    |
| 5 |   6  | 7    |
| 6 |   8  | 9    |

In [0]:
numbers={"even": [0,2,4,6,8],   #  First  key-list
         "odd" : [1,3,5,7,9] }  #  Second key-list

### DataFrame
`Pandas` converts this dictionary of lists, into a `DataFrame` which is just an spreadsheet but interpreted at the programming level. It can and can be managed without a graphical interface.

In [0]:
import pandas as pd
pd.set_option('display.max_colwidth',200)
df=pd.DataFrame(numbers)
df

   even  odd
0     0    1
1     2    3
2     4    5
3     6    7
4     8    9

It is equivalent to:

In [0]:
pd.DataFrame.from_dict(numbers)

   even  odd
0     0    1
1     2    3
2     4    5
3     6    7
4     8    9

See below for other possibilities of [creating Pandas DataFrames from lists and dictionaries](https://fisica.udea.edu.co:4443/user/restrepo/notebooks/prog/cursos/data-analysis/Pandas.ipynb#Intialization-from-lists-and-dictionaries)

we can check the shape of the `DataFrame`

In [0]:
df.shape

(5, 2)

###  Export DataFrame to other formats
* To export to excel:

In [0]:
df.to_excel('example.xlsx')

It is possible to export also to `csv`, `txt`, etc.

## Series

Each column of the DataFrame is now an augmented dictionary called `Series`, with the indices as the keys of the `Series`

In [0]:
type( df['even'] )

pandas.core.series.Series

In [0]:
df.even[3]

6

Note that the key name can be used also as an attribute.

> The __power__ of Pandas rely in that their main data structures: `DataFrames` and `Series`, are enriched with many useful methods and attributes.

### [Official definition of Pandas](http://pandas.pydata.org/pandas-docs/stable/)

> Pandas is a Python package providing __fast__, __flexible__, and __expressive__ _data structures_ designed to make working with “relational” or “labeled” data both easy and intuitive. It aims to be the fundamental high-level building block for doing practical, real world data analysis in Python. Additionally, it _has the broader goal of becoming the most powerful and flexible open source data analysis / manipulation tool_ available in any language. It is already well on its way toward this goal.

* "relational": the list of data is identified with some unique index (like a `SQL` table)
* "labeled": the list is identified with a key, like the previous `odd` or `even` keys.



### Recommend textbook
A good and practice book about `Pandas` possibilities is:

[__Python for Data Analysis__](https://drive.google.com/open?id=0BxoOXsn2EUNIWExXbVc4SDN0YTQ)<br/>
Data Wrangling with Pandas, NumPy, and IPython<br/>
_By William McKinney_

## Standard way to load the module

In [0]:
import pandas as pd

## Data structures

`Pandas` has two new data structures:
* `Series` which are similar to dictionaries
* `DataFrame` which are similar to dictionary lists.

### DataFrame
A row in a two-dimensional `DataFrame` corresponds to `Series` with the same keys of the `DataFrame`, but with single values instead of a list

In [0]:
df.loc[[0]]

   even  odd
0     0    1

In [0]:
df.loc[[0]].values

array([[0, 1]])

In [0]:
print( 'the row has' )
print( '                  keys: {} and values: {}'.format( list( df.loc[[0]].keys() ),df.loc[[0]].values[0]  ) )
print( "like the dictionay:" )
print( "                      { 'even' : 0, 'odd' : 1 }")

the row has
                  keys: ['even', 'odd'] and values: [0 1]
like the dictionay:
                      { 'even' : 0, 'odd' : 1 }

while the columns are dictionary with the indeces as the keys. 

An example of a  `DataFrame` is a spreadsheet.

In [0]:
df[['even']]

   even
0     0
1     2
2     4
3     6
4     8

In [0]:
print( 'the column even has' )
print( '                  keys: {} and values: {}'.format( list( df.even.keys() ),df.even.values  ) )
print( "like the dictionay:" )
print( "                      { 0 : 0, 1 : 2, 2 : 4, 3 : 6, 4 : 8 }")

the column even has
                  keys: [0, 1, 2, 3, 4] and values: [0 2 4 6 8]
like the dictionay:
                      { 0 : 0, 1 : 2, 2 : 4, 3 : 6, 4 : 8 }

### `Series`

A `Pandas` `Series` object can be just initialized from a `Python` dictionary:

In [0]:
s=pd.Series({'Name':'Juan Valdez','Nacionality':'Colombia','Age':23})
s

Age                     23
Nacionality       Colombia
Name           Juan Valdez
dtype: object

and can be used as such dictionaries

In [0]:
s['Name']

'Juan Valdez'

but also as containers of name spaces!

In [0]:
s.Name

'Juan Valdez'

## `DataFrame` Initialization

### Initization from an existing spreadsheet. 
This can be locally in your computer o from some downloadable  link

In [0]:
df=pd.read_excel('http://bit.ly/spreadsheet_xlsx')
df

               Nombre  Edad                Compañia
0         Juan Valdez    23        Café de Colombia
1  Álvaro Uribe Vélez    65  Senado de la República

To make a downloadable link for any spread sheet in Google Drive, follow the sequence:
```
File → Publish to the web...→ Entire Document → Web page → Microsoft excel (xlsx)
```
as illustrated in the figure:
![GS](https://github.com/restrepo/data-analysis/blob/master/img/img1.png?raw=1)

After some modification

In [0]:
df.loc[0,'Edad']=32
df

               Nombre  Edad                Compañia
0         Juan Valdez    32        Café de Colombia
1  Álvaro Uribe Vélez    65  Senado de la República

it can be saved again as an `excel file` with the option to not create a column of indices: `index=False`

In [0]:
df.to_excel('personajes.xlsx',index=False)

__Activity__: Adter the previous execution, load the file `personajes.xlsx`

### Intialization from lists and dictionaries

Creating Pandas DataFrame from list and dictionaries [offers many alternatives](http://pbpython.com/pandas-list-dict.html)

![creating dataframes](http://pbpython.com/images/pandas-dataframe-shadow.png)

### Row oriented way
* In addition to the dictionary of lists [already illustrated at the beginning]() that in this case corresponds to:

In [0]:
pd.DataFrame({'Nombre'   : ['Juan Valdez','Álvaro Uribe Vélez'],
              'Edad'     : [32,            65                 ],
              'Compañia' : ['Café de Colombia','Senado de la República']})

                 Compañia  Edad              Nombre
0        Café de Colombia    32         Juan Valdez
1  Senado de la República    65  Álvaro Uribe Vélez

* We can obtain the DataFrame from list of items

In [0]:
pd.DataFrame.from_items([ [ 'Nombre'  , ['Juan Valdez','Álvaro Uribe Vélez']],
                          [ 'Edad'    , [  32,            65               ]],
                          [ 'Compañia', ['Café de Colombia','Senado de la República']] ])

               Nombre  Edad                Compañia
0         Juan Valdez    32        Café de Colombia
1  Álvaro Uribe Vélez    65  Senado de la República

* We can obtain the DataFrama from dictionary

In [0]:
pd.DataFrame( {'Nombre':'Juan Valdez',        'Edad': 32   ,'Compañia':'Café de Colombia'      },
              {'Nombre':'Álvaro Uribe Vélez', 'Edad': 65   ,'Compañia':'Senado de la República'}
            )

                  Compañia  Edad       Nombre
Nombre    Café de Colombia    32  Juan Valdez
Compañia  Café de Colombia    32  Juan Valdez
Edad      Café de Colombia    32  Juan Valdez

* We can obtain the DataFrama from matrix with the columns specified in an extra list

In [0]:
pd.DataFrame( [['Juan Valdez',         32   , 'Café de Colombia'      ],
               ['Álvaro Uribe Vélez',  65   , 'Senado de la República']],columns= 
               [ 'Nombre'          , 'Edad',   'Compañia'             ]
            )

               Nombre  Edad                Compañia
0         Juan Valdez    32        Café de Colombia
1  Álvaro Uribe Vélez    65  Senado de la República

### Row oriented way
* From a dictionary with the column names as keys and a single value for each one. Each dictionary corresponds to a row of the DataFrame

### Initialization from sequential rows as  Series
We start with an empty `DataFrame`:

In [0]:
df=pd.DataFrame()
df

Empty DataFrame
Columns: []
Index: []

We can append a `Series` as a row of the `DataFrame`, provided that we always use the option: `ignore_index=True`

In [0]:
df=df.append(s,ignore_index=True)
df

    Age Nacionality         Name
0  23.0    Colombia  Juan Valdez

We can fix the type of data of the `'Age'` column

In [0]:
type(df.Age)

pandas.core.series.Series

In [0]:
df['Age']=df.Age.astype(int)
df

   Age Nacionality         Name
0   23    Colombia  Juan Valdez

To add a second row we can build another `Series`
__Activity__: Fill the fields to be generated after the execution of the next cell, and make the __Exercises__

In [0]:
s=pd.Series()
for k in ['Name','Nacionality','Age','Company']:
    var=input('{}:\n'.format(k))
    s[k]=var

#### Exercises
* Display the resulting `Series` in the screen:

* Append to the previous `DataFrame` y visualizarlo:

* Fill NaN with empty strings

* Save `Pandas` `DataFrame` as an Excel file

* Load pandas DataFrame from the saved file in Excel

## Beyond excel
The paradigm of dictionary of list is not well suited for excel. A list inside a dictionary is seen by excel as a string. 

It is however the core of the design of the `JSON` format, which preserver the types of variables inside the dictionaries!. In fact, this notebook itself is really a document in JSON format which can be seen before processing by jupyter  from [here](https://raw.githubusercontent.com/restrepo/data-analysis/master/Pandas.ipynb).

The dictionary can be converted into a string

In [0]:
import pandas as pd

In [0]:
numbers={"even": [0,2,4,6,8],   #  First  key-list
         "odd" : [1,3,5,7,9] }  #  Second key-list

In [0]:
str(numbers)

"{'odd': [1, 3, 5, 7, 9], 'even': [0, 2, 4, 6, 8]}"

This string can be writing in the `JSON` format by replacing the single quotes, ' , by  duoble quotes, ":

In [0]:
str(numbers).replace("'",'"')

'{"odd": [1, 3, 5, 7, 9], "even": [0, 2, 4, 6, 8]}'

This can be read from PANDAS as 'JSON' object:

In [0]:
pd.read_json(  str(numbers).replace("'",'"') )

   even  odd
0     0    1
1     2    3
2     4    5
3     6    7
4     8    9

### JSON
There are really three kinds of web
* the normal web, 
* the deep web,
* _the machine web_. The web for machine readable responses. It is served in `JSON` or `XML`  formats, which preserve programming objects.

For example the crossref includes an API to give the metada of a DOI. An example of  link for the machine web is the one for the DOI: 10.1103/PhysRevD.95.095034

[https://api.crossref.org/works/10.1103/PhysRevD.95.095034](https://api.crossref.org/works/10.1103/PhysRevD.95.095034)

For further examples see http://joelalway.blogspot.com/2019/04/uso-apis-crossref-revistas-doi.html

In [0]:
doi=pd.read_json( 'https://api.crossref.org/works/10.1103/PhysRevD.95.095034' )

In [0]:
doi

,message,message-type,message-version,status
DOI,10.1103/physrevd.95.095034,work,1.0.0,ok
ISSN,"[2470-0010, 2470-0029]",work,1.0.0,ok
URL,http://dx.doi.org/10.1103/physrevd.95.095034,work,1.0.0,ok
article-number,095034,work,1.0.0,ok
author,"[{'given': 'Carolina', 'family': 'Arbeláez', '...",work,1.0.0,ok
container-title,[Physical Review D],work,1.0.0,ok
content-domain,"{'domain': [], 'crossmark-restriction': False}",work,1.0.0,ok
created,"{'timestamp': 1496282928000, 'date-time': '201...",work,1.0.0,ok
deposited,"{'timestamp': 1496283034000, 'date-time': '201...",work,1.0.0,ok
funder,"[{'doi-asserted-by': 'publisher', 'name': 'Com...",work,1.0.0,ok
indexed,"{'timestamp': 1528186959506, 'date-time': '201...",work,1.0.0,ok
is-referenced-by-count,5,work,1.0.0,ok
issn-type,"[{'type': 'print', 'value': '2470-0010'}, {'ty...",work,1.0.0,ok
issue,9,work,1.0.0,ok
issued,"{'date-parts': [[2017, 5, 31]]}",work,1.0.0,ok
journal-issue,"{'published-print': {'date-parts': [[2017, 5]]...",work,1.0.0,ok
language,en,work,1.0.0,ok
license,"[{'delay-in-days': 0, 'URL': 'http://link.aps....",work,1.0.0,ok
link,"[{'content-version': 'vor', 'URL': 'http://lin...",work,1.0.0,ok
member,16,work,1.0.0,ok
original-title,[],work,1.0.0,ok
prefix,10.1103,work,1.0.0,ok
published-online,"{'date-parts': [[2017, 5, 31]]}",work,1.0.0,ok
publisher,American Physical Society (APS),work,1.0.0,ok
reference,"[{'doi-asserted-by': 'publisher', 'key': 'Phys...",work,1.0.0,ok
reference-count,46,work,1.0.0,ok
references-count,46,work,1.0.0,ok
relation,{'cites': []},work,1.0.0,ok
score,1,work,1.0.0,ok
short-container-title,[Phys. Rev. D],work,1.0.0,ok
short-title,[],work,1.0.0,ok
source,Crossref,work,1.0.0,ok
subtitle,[],work,1.0.0,ok
title,[Fermionic triplet dark matter in an \nSO(10)\...,work,1.0.0,ok
type,journal-article,work,1.0.0,ok
volume,95,work,1.0.0,ok

Note that the resulting DataFrame has also labeled indices. It is not longer possible to access the first row with
```python
doi.loc[[0]]
```
As was done [before](https://fisica.udea.edu.co:4443/user/restrepo/notebooks/prog/cursos/data-analysis/Pandas.ipynb#DataFrame)

__Activity__: Use the corresponding label to access the row 'title' of the DataFrame

In this way, Pandas can be used as a browser to navigate trough the pages of the machine-web. For example, the cell 'author' - 'message' of the DataFrame contains a list of dictionaries:

In [0]:
doi.loc[['author']]['message'].values[0]

[{'affiliation': [], 'family': 'Arbeláez', 'given': 'Carolina'},
 {'affiliation': [], 'family': 'Hirsch', 'given': 'Martin'},
 {'affiliation': [], 'family': 'Restrepo', 'given': 'Diego'}]

which can be easily converted into a new DataFrame as:

In [0]:
pd.DataFrame( doi.loc[['author']]['message'].values[0] )[['given','family']]

      given    family
0  Carolina  Arbeláez
1    Martin    Hirsch
2     Diego  Restrepo

__Activity__: Obtain the list of references as a Pandas DataFrame and fill the `NaN` values with the empty string

## Google search
By following the instructions from [here](https://stackoverflow.com/a/46374861/2268280)

In [0]:
import requests 
from bs4 import BeautifulSoup

headers_Get = {
        'User-Agent': 'Mozilla/5.0 (Windows NT 6.1; WOW64; rv:49.0) Gecko/20100101 Firefox/49.0',
        'Accept': 'text/html,application/xhtml+xml,application/xml;q=0.9,*/*;q=0.8',
        'Accept-Language': 'en-US,en;q=0.5',
        'Accept-Encoding': 'gzip, deflate',
        'DNT': '1',
        'Connection': 'keep-alive',
        'Upgrade-Insecure-Requests': '1'
    }


def google(q):
    s = requests.Session()
    q = '+'.join(q.split())
    url = 'https://www.google.com/search?q=' + q + '&ie=utf-8&oe=utf-8'
    r = s.get(url, headers=headers_Get)

    soup = BeautifulSoup(r.text, "html.parser")
    output = []
    for searchWrapper in soup.find_all('h3', {'class':'r'}): #this line may change in future based on google's web page structure
        url = searchWrapper.find('a')["href"] 
        text = searchWrapper.find('a').text.strip()
        result = {'text': text, 'url': url}
        output.append(result)

    return output

In [0]:
rdf=pd.DataFrame( google('albert einstein google scholar') )
rdf

,text,url
0,Albert Einstein - Google Scholar Citations,http://scholar.google.com/citations?user=qc6CJjYAAAAJ&hl=es
1,Albert Einstein - Google Scholar Citations,http://scholar.google.com/citations?user=wID1_xkAAAAJ&hl=en
2,Albert Einstein - Citas de Google Académico,http://scholar.google.es/citations?user=3bCfWEAAAAAJ&hl=es
3,Who sets up the Google Scholar Citation profiles for Albert ...,https://www.quora.com/Who-sets-up-the-Google-Scholar-Citation-profiles-for-Albert-Einstein-and-Richard-Feynman
4,Home - Google Scholar - LibGuides at Albert Einstein College of ...,http://libguides.einstein.yu.edu/googlescholar
5,2610 Highly Cited Researchers (h>100) according to their Google ...,http://www.webometrics.info/es/node/58
6,7 ways to make your Google Scholar Profile better - Impactstory blog,http://blog.impactstory.org/make-google-scholar-better/
7,"Michel Ballings on Twitter: ""Albert Einstein's Google Scholar Citations ...",https://twitter.com/michelballings/status/279895383663075329
8,Google Scholar Citations | theoretical ecology,https://theoreticalecology.wordpress.com/2011/11/17/google-scholar-citations/
9,H-indices and how academic publishing has changed: Feynman and ...,https://computinged.wordpress.com/2011/08/04/h-indices-and-how-academic-publishing-has-changed-feynman-and-einstein-just-arent-that-impressive-anymore/

## Conclusion
In an ideal world we would have access to the metadata of the all research articles, in an automated machine readable way.

In [crossref](crossref.ipynb) we show that it is not the case for Redalyc journals.

The references listed below allows to create [Networks](Network.ipynb) of articles, provided that they are well _normalized_.

A real case scenario of obtain the metadata of _many_ research articles including references  is by means of the use of the  [Inspire HEP](inspire.ipynb), the information system for  High Energy Physics.

Example of [advanced use](rg.ipynb)

##  ACTIVITIES
See:
* https://github.com/ajcr/100-pandas-puzzles
* https://github.com/guipsamora/pandas_exercises

## Additional materials
See [this online course](https://www.datacamp.com/community/tutorials/pandas-tutorial-dataframe-python)

See [this help](https://restrepo.github.io/PythonTipsAndTricks/)

A good and practice book about `Pandas` possibilities is:

[__Python for Data Analysis__](https://drive.google.com/open?id=0BxoOXsn2EUNIWExXbVc4SDN0YTQ)<br/>
Data Wrangling with Pandas, NumPy, and IPython<br/>
_By William McKinney_


This other is about aplications based on `Pandas`:
<div style="float: right;" markdown="1">
    <img src="https://covers.oreillystatic.com/images/0636920030515/cat.gif">
</div>
[Introduction to Machine Learning with Python](https://drive.google.com/open?id=0BxoOXsn2EUNISGhrdEZ3S29fS3M)<br/>
A Guide for Data Scientists
By Sarah Guido, Andreas Müller

`Pandas` can be used in a similar way to `R`, which is based on similar data structures. `Pandas` also can replace the use of graphical interfaces to access spreadsheets like Excel

Continue with [Network tutorial](./Network.ipynb)